*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 62.5%;
}

Html {
  font-size: 1.8rem;
}

#root {
  width: 100%;
  height: 100%;
  background-color: pink;
}

.main--image {
  height: 100px;
}
